:root {
    --texto-claro: rgb(255, 255, 255);
    --texto-escuro: rgb(20, 20, 20);
    --gradient-roxo: linear-gradient(0deg, rgb(68, 48, 245) 0%, rgb(82, 19, 255) 100%);
    --gradient-roxo-hover: linear-gradient(0deg, rgba(71, 52, 243, 0.95) 0%, rgba(91, 31, 255, 0.95) 100%);
    --cor-imc: rgb(114, 98, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: Outfit;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(226, 226, 226);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#textoTopo {
    position: relative;
    color: var(--texto-claro);
    top: -6%;
    background: var(--gradient-roxo);
    padding: 10px 40px;
    border-radius: 4px;
    transition: 0.2s;
    cursor: pointer;
    border: none;
}

#textoTopo:hover {
    transform: scale(102%);
}

.container {
    width: 1100px;
    height: 600px;
    background-color: var(--texto-claro);
    border-radius: 48px;
    box-shadow: 0px 0px 15px 1px rgba(25, 25, 25, .4);
}

.containerConteudo {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.campo-resultado {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(49, 43, 235) 0%, rgba(104, 68, 250, 1) 100%);
    border-radius: 8%;

    color: var(--texto-claro);
}

.conteudo-resultado {
    display: flex;
    text-align: center;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;

    height: 100%;
}

#tela {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    width: 250px;
    height: 250px;
    font-size: 45px;

    border-radius: 100%;
    background: var(--gradient-roxo);
    margin-bottom: 3%;
}

#numIMC {
    color: var(--texto-claro);
}

.conteudo-resultado span{
    border-radius: 5px;
    font-size: 20px;
    font-weight: 200;
}

.conteudo-resultado p {
    margin-bottom: 5%;
    font-weight: 500;
    font-size: 40px;
    margin-top: 10px;
}

.campo-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
}

.conteudo-form {
    color: var(--texto-escuro);
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 350px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.conteudo-form button#btnCalc {
    padding: 15px;
    background: var(--gradient-roxo);
    color: var(--texto-claro);
    border: none;
    border-radius: 20px;
    width: 80%;
    cursor: pointer;
    font-size: 30px;
    transition: 0.2s;
}

button#btnCalc:hover {
    transform: scale(102%);
    background: var(--gradient-roxo-hover);
}

.conteudo-form label {
    font-weight: 200;
    font-size: 45px;
}

.conteudo-form input[type="text"] {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(25, 25, 25, .4);
    outline: none;
    font-size: 30px;
    text-align: center;
    width: 50%;
    margin-bottom: 10%;
}

#aviso {
    color: var(--texto-escuro);
    width: 70%;
    text-align: center;
    position: relative;
    bottom: -50px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 0, 0, 0.13);
    padding: 10px 20px;
    border-radius: 10px;
}

progress {
    width: 40%;
    height: 30px;
    margin-bottom: 8%;
    border-radius: 10px;
    overflow: hidden;

    opacity: 0;
    transition: 0.3s ease;
}

progress::-webkit-progress-bar {
    background: var(--texto-claro);
    transition: 0.3s ease;
}

progress::-webkit-progress-value {
    background-color: var(--cor-imc);
    transition: 0.3s ease;
}


dialog#dialogID {
    margin: auto auto;
    border: none;
    background-color: var(--texto-claro);
    padding: 20px 20px;
    border-radius: 46px;
}

dialog div img {
    border-radius: 30px;
}

dialog button {
    display: flex;
    margin: auto auto;
    padding: 10px 40px;
    background-color: rgb(255, 85, 85);

    font-size: 30px;
    font-family: Outfit;
    color: var(--texto-claro);
    border: none;
    border-radius: 3px;
    cursor: pointer;

    margin-top: 10px;
}

dialog button:hover {
    background-color: rgb(255, 32, 32);
}